// 关于豆米介绍页的样式设计
.makeStyles-root-296 {
  .detail-intro{
    color: rgb(158, 158, 158);
    font-size: 16px;
    span{
      font-weight: bold;
      font-size: 18px;
  ***REMOVED***
***REMOVED***
  .tags-intro{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    > span{
      font-weight: bold;
      font-size: 18px;
      color: rgb(158, 158, 158);
  ***REMOVED***
    .category{
      display: flex;
      flex-direction: column;
      height: 80px;
      justify-content: space-between;
      border-left: 3px solid #eee;
      border-radius: 10px;
      background-color: #f5f0fa;
      border-left-color: #6f42c1;
      padding: 10px;
      span{
        background: #6f42c1;
        padding: 5px 12px;
        margin: 5px;
        color: #FFF;
        border-radius: 3px;
    ***REMOVED***
  ***REMOVED***
***REMOVED***
  .contact-me-tip{
    color: rgb(158, 158, 158);
    font-size: 16px;
    em {
      font-weight: bold;
  ***REMOVED***
***REMOVED***
  .contact-me-channels{
    display: flex;
    & > div {
      margin-right: 10px;
  ***REMOVED***
***REMOVED***
  .doumi-reward-tip{
    color: rgb(158, 158, 158);
    font-size: 16px;
***REMOVED***
  .doumi-reward{
    img {
      width: 160px;
  ***REMOVED***
***REMOVED***
***REMOVED***
