// 关于豆米介绍页的样式设计
.doumi-info {
  .detail-intro{
    color: rgb(158, 158, 158);
    font-size: 16px;
    span{
      font-weight: bold;
      font-size: 18px;
    }
  }
  .tags-intro{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    > span{
      font-weight: bold;
      font-size: 18px;
      color: rgb(158, 158, 158);
    }
    .category{
      display: flex;
      flex-direction: column;
      height: 80px;
      justify-content: space-between;
      border-left: 3px solid #eee;
      border-radius: 10px;
      background-color: #f5f0fa;
      border-left-color: #6f42c1;
      padding: 10px;
      span{
        background: #6f42c1;
        padding: 5px 12px;
        margin: 5px;
        color: #FFF;
        border-radius: 3px;
      }
    }
  }
  .contact-me-tip{
    color: rgb(158, 158, 158);
    font-size: 16px;
    em {
      font-weight: bold;
    }
  }
  .contact-me-channels{
    display: flex;
    & > div {
      margin-right: 10px;
    }
  }
  .doumi-reward-tip{
    color: rgb(158, 158, 158);
    font-size: 16px;
  }
  .doumi-reward{
    img {
      width: 160px;
    }
  }
}

// 博客分类、归档、标签详情页样式设计
.blog-types-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .blog-type-list{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    .MuiChip-root.MuiChip-colorPrimary{
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

.blog-detail-wrapper {
  min-height: 100vh;
  position: relative;
  margin-right: 20%;
  @media screen and (max-width: 992px) {
    margin-right: 0px;
  }
  #catalog-content-wrapper{
    position: fixed;
    right: 0px;
    top: 20%;
    height: 100%;
    width: 18%;
    padding-top: 30px;
    text-align: left;
    line-height: 2;
    font-size: 15px;
    overflow: overlay;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .MuiBackdrop-root{
    position: absolute;
  }
  h1{
    text-align: center;
  }
  .blog-info{
    display: flex;
    justify-content: center;
    align-items: center;
    .info-item {
      display: flex;
      font-size: 12px;
      color: #999;
      justify-content: center;
      align-items: center;
      position: relative;
      &:not(:last-child)::after{
        content: '|';
        width: 10px;
        text-align: center;
      }
      .icon{
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
  .loading {
    color: #FFF;
    z-index: 999;
  }
  .micro-program, .comments{
    margin-top: 20px;
    h4 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #119d55;
    }
    img{
      width: 710px;
    }
    a {
      text-decoration: underline;
      color: #119d55
    }
  }
  .github{
    box-sizing: border-box;
    margin: 17.5px 0 17.5px 0px;
    padding: 0 0 0 17.5px;
    border-left: 5px solid #eee;
    p{
      margin: 0.8rem 0;
      font-style: italic;
    }
    a {
      text-decoration: underline;
      color: #119d55
    }
  }
}
