@import "./mixins/_center.less";

.home-container{
  position: relative;
  padding-top: 50px;
}

// 针对react-markdown组件生成的页面的样式修改
main .blog-detail{
  overflow: scroll;
  min-height: 100vh;
  img{
    max-width: 100%
  }
  p{
    font-size: 14px;
  }
  h6 {
    font-size: 18px;
  }
  h5 {
    font-size: 20px;
  }
  h4 {
    font-size: 25px;
  }
  h3 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h1 {
    font-size: 56px;
  }
  table {
    border: 1px solid #d0d6d7;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 22px;
    display: table;
    border-spacing: 2px;
    thead tr th{
      border: 1px solid #d0d6d7;
      padding: 15px;
      background-color: #e4f0f1;
      text-align: center;
    }
    tbody tr td{
      border: 1px solid #d0d6d7;
      padding: 15px;
      text-align: center;
    }
  }
}
